
                <tr *ngFor="let e of listEquipes;let i=index" >
                  <td>{{i+1}}</td>
                  <th scope="row">
                    
                    <div class="media align-items-center">
                      <a
                        href="javascript:void(0)"
                        class="avatar rounded-circle mr-3"
                      >
                        <img
                          alt="Image placeholder"
                          src="../assets/img/theme/bootstrap.jpg"
                        />
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{e.nomEquipe}}</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> {{e.niveau}}
                    </span>
                    
                  </td>
                  <td >
                    <button class="btn bg-gradient-danger" routerLink="/add-equipe">                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>&nbsp;
                  
                    <button class="btn btn-danger" (click)="deleteEquipe(e.idEquipe)"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;
                    <button class="btn btn-info" [routerLink]="['/updateEquipe',e.idEquipe]"><i class="fa fa-pen" aria-hidden="true"></i></button>&nbsp;
                    <div  (click)="getEtudiantsByEquipe(e.idEquipe)" ngbDropdown placement="bottom-right">
                      <a  class="btn btn-sm btn-icon-only text-light"ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div   ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <a  *ngFor="let etud of listEtudiants" class="dropdown-item" href="javascript:void(0)">{{etud.prenomE}}</a>
                        
                      </div>
                    </div>
                  </td>
                
                </tr>
              
  
