<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row"></div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <!-- Dark table -->
  <div *ngIf="alert === true" class="alert alert-success" role="alert">
    <i class="fa fa-check-circle mr-2"></i>
    <strong>Succès!</strong> Contrat ajouté avec succès.
  </div>

  <div class="row mt-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Contrats étudiants</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date debut</th>
                <th scope="col">Date fin</th>
                <th scope="col">Specialite</th>
                <th scope="col">Archive</th>
                <th scope="col">Montant</th>
                <th scope="col">Etudiant</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contrat of list">
                <td>
                  {{ contrat.dateDebutContrat }}
                </td>
                <td>{{ contrat.dateFinContrat }}</td>
                <td>
                  {{ contrat.specialite }}
                </td>
                <div *ngIf="contrat.archive == true; else notArchived">
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-warning"></i> archivé
                    </span>
                  </td>
                </div>
                <ng-template #notArchived>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i> non archivé
                    </span>
                  </td></ng-template
                >
                <td>{{ contrat.montantContrat }} TND</td>
                <div
                  *ngIf="
                    contrat.etudiant?.prenomE && contrat.etudiant?.nomE;
                    else assignStudent
                  "
                >
                  <td>
                    {{ contrat.etudiant.prenomE }} {{ contrat.etudiant.nomE }}
                  </td>
                </div>
                <ng-template #assignStudent>
                  <td>
                    <a href="#" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon"
                        ><i class="fas fa-plus"></i
                      ></span>
                      <span class="btn-inner--text">affecter étudiant</span>
                    </a>
                  </td></ng-template
                >
                <td>
                  <button
                    class="rounded-btn mr-3"
                    style="background-color: #3f51b5"
                    type="button"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button
                    class="rounded-btn mr-3"
                    style="background-color: #f44336"
                    type="button"
                    (click)="deleteContrat(contrat.idContrat)"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="add" class="float-btn">
    <i class="fa fa-plus my-float"></i>
  </a>
</div>
