
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="row"></div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <app-thematique></app-thematique>
  <!-- Table -->
  <!-- Dark table -->
  <router-outlet></router-outlet>

  <div class="row">
    <div class="col">
      <div class="card bg-default shadow mb-5">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Details equipes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Salle</th>
                <th scope="col">Thematique</th>
                <th scope="col">Equipe</th>

                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detailequipe of listDetailEquipe | search: searchText | paginate :{id:'listing_pagination',
              itemsPerPage:5,
              currentPage:page,
              totalItems:totalRecords }">
                <td [ngClass]="{ 'background-td': detailequipe.thematique==='SCIENTIFIQUE' }"
                >
                  {{ detailequipe.salle }}
                </td>
                <td [ngClass]="{ 'background-td': detailequipe.thematique==='SCIENTIFIQUE' }"
                [ngStyle]="{'color':'black', 'font-weight':'800'}">{{ detailequipe.thematique }}</td>
                <td [ngClass]="{ 'background-td': detailequipe.thematique==='SCIENTIFIQUE' }">
                  <app-combobox-etud [equipeListC]="equipeList"></app-combobox-etud>
                </td>







                <td [ngClass]="{ 'background-td': detailequipe.thematique==='SCIENTIFIQUE' }">
                  <button
                    class="rounded-btn mr-3"
                    style="background-color: #3f51b5"
                    type="button"
                    [routerLink]="['updateDetailE', detailequipe.idDetailEquipe]"
                  >
                    <i class="fas fa-pen"></i>
                  </button>
                  <button
                    class="rounded-btn mr-3"
                    style="background-color: #f75676"
                    type="button"
                    (click)="deleteDe(detailequipe.idDetailEquipe)"
                    (click)="alerttoastr()"
                  >

                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

                  <pagination-controls id="listingpagination" maxSize="5" (pageChange)="page=$event"  ></pagination-controls>



        </div>
      </div>

      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input classe="form-control" type="text"  placeholder="Search"[(ngModel)]="searchText" >

      </div>




    </div>
  </div>
  <button type="button"  data-toggle="modal" data-target="#exampleModal"  class="float-btn">
    <i class="fas fa-plus my-float"></i>
  </button>
  <!-- Button trigger modal -->
  <!-- Button trigger modal -->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter detail equipe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm" (ngSubmit)="addDe()" >
          <h6 class="heading-small text-muted mb-4">detail equipe information</h6>
          <div class="pl-lg-4">

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-salle"
                    >Salle</label
                  >

                  <input
                  type="number"
                  id="input-salle"
                  name="salle"
                  class="form-control form-control-alternative"
                  placeholder="salle"
                  [(ngModel)]="detailE.salle"
                  required
                  pattern="[1-9][0-9]*"
                  #salle="ngModel"
                />
                <div *ngIf="salle.errors?.['required']">
                  <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                    Salle obligatoire
                  </div>
                </div>
                <div *ngIf="salle.errors?.['pattern']">
                  <div class="alert alert-danger" role="alert">
                    <i class="fas fa-exclamation-triangle mr-2"></i>
                    La salle ne contient que des chiffres
                    positives
                  </div>
                </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-them"
                    >thématique</label
                  >
                  <div><select
                    id="select-equipe"
                    name="equipe"
                    class="form-control form-control-alternative mb-2"
                    aria-label="Default select example"
                    [(ngModel)]="detailE.thematique"


                  >
                    <option value="SCIENTIFIQUE">SCIENTIFIQUE</option>
                    <option  value="LANGUE" >LANGUE</option>                    >
                    <option  value="HISTOIRE">HISTOIRE</option>
                    <option  value="MATHEMATIQUE">MATHEMATIQUE</option>
                  </select></div>


                </div>
              </div>
            </div>
          </div>


          <button
            type="submit"
            class="btn btn-primary mt-3"
            [disabled]="form.invalid"
            (click)="showToastr()"
          >
            Ajouter detail equipe
          </button>

        </form>
      </div>

    </div>
  </div>
  <div class="wrap">
    <button class="button1">Submit</button>
  </div>
</div>



</div>
